doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='/css/bootstrap.min.css' rel='stylesheet')
  // <link href="/public/styles.css" rel="stylesheet">
  title Employee Registration
body 
  include clientNav.pug
  // Modal
  #editEmployee.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLabel.modal-title Employee Form
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          | ...
        .modal-footer
          button.btn.btn-secondary(type='button' data-dismiss='modal') Close
          button.btn.btn-primary(type='button') Save changes
  
  // registration info
  .container-fluid
    .container(style='width: 27rem;height: 500px; align-content: center;margin-left: 10px;margin-top:60px; background-color: lightsteelblue;')
      // 
      .form-head(style='background-color: rgb(71, 71, 71); width: 27rem;height: 70px;margin-top: -14px; margin-left: -12px;padding-top: 10px; text-align: center;')
        h2.mb-4(style='color:lightseagreen;') Client Registration Form
      
      // the registration form starts here
      form.row.g-3(method='POST' action='/clientReg' enctype='multipart/form-data' style=' margin-top: 10px;')
        .row
          
          // client name
          .col-md-6
            label.form-label(for='clientname') Client Name
            input.form-control#clientname(type='text' placeholder='employee name' name='clientname')
          // type of client
          .col-md-5
            label.form-label(for='typeofclient') Type of Client
            select#typeofclient.form-select(name='typeofclient')
              option(value='Individual') Individual
              option(value='Business') Business
        // row 2 starts here
        .row
          .col-md-5
            label.form-label(for='typeofrequest') Type of Request
            select#typeofrequest.form-select(name='typeofrequest')
              option(value='subscription') Subscription
              option(value='oneTime') One Time
          // service requested for
          .col-6(style='margin-left:24px;')
            label.form-label  Service requested for
            br
            .form-check-inline
              input#sewageorseptictank.form-check-input(type='checkbox' value='' name='sewageorseptictank')
              label.form-check-label(for='sewageorseptictank')
                | Sewage/Septic tank
            .form-check
              input#gabbagecollection.form-check-input(type='checkbox' value='' name='gabbagecollection')
              label.form-check-label(for='gabbagecollection')
                | Gabbage Collection
        // 2nd row ends here
        // 3rd row starts here
        // trucks orders
        .row
          .col-4
            label.form-label(for='trucksneeded') Trucks needed
            .col(style='width: 70px;')
              select#trucksneeded.form-select( name='trucksneeded')
                option(value='1') 1
                option(value='2') 2
                option(value='3') 3
                option(value='4') 4
          // arrival time
          .col-5(style='margin-left: -20px;')
            label.form-label(for='timeofrequest ') Time of Request 
            .col(style='width: 115px;')
              select#timeofrequest.form-select(name='timeofrequest')
                option ...
                option(value='8:00am-10:00am') 8:00am-10:00am
                option(value='10:00am-12:00pm') 10:00am-12:00pm
                option(value='12:00pm-10:00am') 12:00pm-2:00pm
                option(value='2:00pm-4:00pm') 2:00pm-4:00pm
          .col-2(style='margin-left: -40px;')
            label.form-label(for='location ') Location
            input#location.form-control(type='text ' style='width: 120px;' placeholder='e.g. Nsambya ' name='location')
        // 
        .row
          // NIN number
          .col-5
            label.form-label(for='nin') NIN number
            input#nin.form-control(type='text' placeholder='NIN ' name='nin ')
          // tel number
          .col-md-5
            label.form-label(for='telnumber ') Tel Number
            //
              <div class="col-7">
              <select class="form-select" id="validationDefault04" required>
              <option>+256</option>
              <option>...</option>
              </select>
              </div>
            .col-
              input#telnumber.form-control(type='text ' placeholder='+256 759 588 328 ' name='tel number ')
        // 4th row starts here
        // Residence
        .row
          .col
          
            br
            .col-12(style='margin-top: 12px;')
              button.btn.btn-primary(style='width: 400px;height: 40px; ' type='submit ') Register
    // The employee list
    .container-fluid
      .col-md-6(style='width: 880px;margin-left:445px;margin-top:-500px;background-color: transparent;')
        .col-sm-6(style='margin-bottom: 15px;')
          form.d-flex
            input.form-control.me-2(type='search' placeholder='Search' aria-label='Search')
            button.btn.btn-outline-primary(type='submit') Search
        table.table.table-striped.table-hover
          thead 
            tr.table-dark(style='font-weight: bold;')
              th Client Name
              //
                Note to self: employee usernames will start with digit(0) 001,002 etc.
                The client username will start with digit(1) 101, 102 etc.
              th Type Of Client 
              th Service 
              th Time Of Request
              th Tel Number
              th Location 
              // The truck alphanumeric will start with GCT-101, GTC Stands for Garbbage Cleaning Truck
              th Action
            tbody 
            if users.length
            each user in users
              tr
                td #{user.clientname} 
                td #{user.typeofclient} 
                td #{user.typeofrequest} 
                td #{user.timeofrequest} 
                td #{user.telnumber} 
                td #{user.location} 
                td 
                  a(href='#' data-toggle='modal' data-target='#editEmployee')
                    svg.bi.bi-pencil-square(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                      path(d='M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z')
                      path(fill-rule='evenodd' d='M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z')
                    // modal form  starts here
                    // modal form ends here
                  a(href='#' style='margin-left: 12px;')
                    svg.bi.bi-trash-fill(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='darkred' viewbox='0 0 16 16')
                      path(d='M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z')

        .clearfix
          ul.pagination
            li.page-item.disabled
              a(href='#') Previous
            li.page-item
              a.page-link(href='#') 1
            li.page-item
              a.page-link(href='#') 2
            li.page-item.active
              a.page-link(href='#') 3
            li.page-item
              a.page-link(href='#') 4
            li.page-item
              a.page-link(href='#') 5
            li.page-item
              a.page-link(href='#') Next
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous')
